﻿@model AnswerViewModelForQuestionDetailsPage
<div class="answer" data-answerid ="@Model.ID">
    <a name="@Model.ID"></a>
    <table>
        <tbody>
            <tr>
                <td class="votecell">
                     <div class="vote">
                        <input type="hidden" value="@Model.ID">
                        <a class="vote-up-off vote-up-answer @(Model.AnswerVoteType == (int)VoteType.Up ? "vote-up-on" : "")" data-answer-id ="@Model.ID">up vote</a>
                        <span id="vote-count-holder-answer-@Model.ID" class="vote-count-post ">@Model.VoteCount</span>
                        <a class="vote-down-off vote-down-answer @(Model.AnswerVoteType == (int)VoteType.Down ? "vote-down-on" : "")" data-answer-id ="@Model.ID">down vote</a>

                    </div>
                </td>
                <td class="answercell">
                     <div class="post-text">
                          @Html.Raw(Model.Content)
                        </div>
                    <div>
                      @*  @Html.ActionLink("Flag", "Flag", "Answers", new { id = Model.ID }, null)  *@
                    @if (Model.IsAnswerFromCurrentUser)
                    {
                      @Html.ActionLink("Edit", "Edit", "Answers", new { id = Model.ID }, null) @*<span> | </span>
                          @Html.ActionLink("Delete", "Edit", "Answers", new { id = Model.ID }, null)  *@
                    }
                    
</div>                    
                    
                    <div class="fr">
                            <div class="user-info">
                                <div>answered @Model.DatePosted.ToNicelyFormattedDateTime()</div>
                                @Html.Partial("partial_UserDetails", Model.User)
                            </div>
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
