﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Permissions Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">You don't have permissions to do this opperation.</h2>
</hgroup>
