﻿@model QA.AnswerEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuestionEditViewModel</legend>

        @Html.HiddenFor(model => model.ID)



        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {


    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#Content",
            menubar: false,
            //  plugins: "code",
            toolbar: "undo redo | bold italic | numlist bullist | indent | code"

        });

   
        var $answerForm = $('.main-content form');
        $answerForm.submit(function () {

            tinymce.get('user-answer-content').save();

            //$.post("/Answer/Create", $answerForm.serialize(), function (data) {
            //    //console.log(data);
            //    $('#answers').append(data);
            //    $answerForm.find('textarea').val('');
            //});

            return true;
        });

    </script>


}
