﻿@model QA.QuestionCreateViewModel

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/jquery.tagsinput.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuestionCreateViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, new { cols = "20", rows = "20"  })
            @Html.ValidationMessageFor(model => model.Content)
        </div>
           <div class="editor-label">
            Tags
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
  @*  @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")*@
    <script src="~/Scripts/lib/jquery.tagsinput.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#Content",
            menubar: false,
            //  plugins: "code",
            toolbar: "undo redo | bold italic | numlist bullist | indent | code"

        });

        $('#Tags').tagsInput({
            autocomplete_url: '@Url.Action("GetTags","Tags")'
        });

        var $answerForm = $('.main-content form');

        $answerForm.submit(function () {

            tinymce.get('user-answer-content').save();

            //$.post("/Answer/Create", $answerForm.serialize(), function (data) {
            //    //console.log(data);
            //    $('#answers').append(data);
            //    $answerForm.find('textarea').val('');
            //});

            return true;
        });

    </script>
}
