﻿@model  QA.QuestionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.ActionLink(Model.Question.Title, "Details", "Questions", new { id = Model.ID, slug = Model.Question.Title.ToSeoUrl() }, null)</h2>

<input type="hidden" id="current-user-username" value="@HttpContext.Current.User.Identity.Name"/>
<input type="hidden" id="question-id" value="@Model.ID" />
<div class="question">
    <table>
        <tbody>
            <tr>
                <td class="votecell">

                    <div class="vote">
                        <input type="hidden" value="@Model.ID">
                        <a id="vote-up" class="vote-up-off @(Model.QuestionVoteType == (int)VoteType.Up ? "vote-up-on" : "")">up vote</a>
                        <span id="vote-count-holder" class="vote-count-post ">@Model.Question.VoteCount</span>
                        <a id="vote-down" class="vote-down-off @(Model.QuestionVoteType == (int)VoteType.Down ? "vote-down-on" : "")">down vote</a>



                    </div>
                </td>
                <td class="postcell">
                    <div>
                        <div class="post-text">
                            @Html.Raw(Model.Question.Content)
                        </div>
                        <div class="post-taglist">@Html.Partial("partial_Tags", Model.Question.QuestionsTags.Select(t => t.Tag))</div>
                        <div class="fr">
                            <div class="user-info">
                                <div>asked @Model.Question.DatePosted.ToNicelyFormattedDateTime()</div>
                                @Html.Partial("partial_UserDetails", Model.Question.User)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

@if (Model.Question.User.Username == HttpContext.Current.User.Identity.Name)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    </p>
}

<div id="answers" style="border: 1px solid black">

    @{
        bool showAnswerPager = Model.Question.Answers.Count() > 5;
        int answerCount = Model.Question.Answers.Count();
        string answerCountText = answerCount == 1 ? "1 Answer" : answerCount + " Answers";
    }


    <div id="answer-header">
        <div class="subheader">
            <h3>@answerCountText </h3>
            @if (Model.Question.Answers.Count() > 1)
            {
                <div id="tabs">
                    @Html.ActionLink("oldest", "Details", "Questions",
                new { id = Model.ID, slug = Model.Question.Title.ToSeoUrl(), answersort = "oldest" },
                new { @class = (Request.QueryString["answersort"] == "oldest") ? "youarehere" : "" })

                    @Html.ActionLink("votes", "Details", "Questions",
                new { id = Model.ID, slug = Model.Question.Title.ToSeoUrl(), answersort = "votes" },
                new { @class = (Request.QueryString["answersort"] == "votes" || Request.QueryString["answersort"] == null) ? "youarehere" : "" })
                </div>
            }
        </div>
    </div>

    @foreach (var answer in Model.Answers)
    {
        @Html.Partial("partial_Answer", answer);
    }
    @if (showAnswerPager)
    {
        <div class="pager">

            @Html.PagedListPager(Model.Answers,
                                    page => Url.Action("Details", "Questions",
                                                        new
                                                        {
                                                            page = page,
                                                            id = Model.ID,
                                                            slug = Model.Question.Title.ToSeoUrl(),
                                                            answersort = Request.QueryString["answersort"]
                                                        }),
                                    PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
       
    }
</div>

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    

<div style="border: 1px solid red">
    Enter your answer:
  <form action="/Answer/Create" id="user-answer-form">
      <input type="hidden" name="questionID" value="@Model.ID" />
      <textarea id="user-answer-content" name="content" rows="10"> </textarea>
      <input type="submit" name="answer" />
  </form>

</div>
}
else
{
    <div>Please @Html.ActionLink("log in", "LogIn", "Account",
    new { returnUrl = Url.Action("Details", "Questions", new { id = Model.ID, slug = Model.Question.Title.ToSeoUrl() }) },
    null) to vote</div>
}

@section scripts{
    <script id="answerTemplate" type="text/x-handlebars-template">
        <div class="answer" data-answerid="{{answerId}}">
            <a name="{{answerId}}"></a>
            <table>
                <tbody>
                    <tr>
                        <td class="votecell">
                            <div class="vote">
                                <input type="hidden" value="{{answerId}}">
                                <a class="vote-up-off vote-up-answer" data-answer-id="{{answerId}}">up vote</a>
                                <span id="vote-count-holder-answer-{{answerId}}" class="vote-count-post ">{{voteCount}}</span>
                                <a class="vote-down-off vote-down-answer" data-answer-id="{{answerId}}">down vote</a>

                            </div>
                        </td>
                        <td class="answercell">
                            <div class="post-text">
                                
                                {{{content}}}
                            </div>
                    
         {{#if showEditLink }}
            <a href="{{edithref}}">Edit</a>
         {{/if}} 
        </div>
                    <div class="fr">
                            <div class="user-info">
                                <div>answered {{dateAnswered}}</div>
                                <div class="">
                                    {{username}}
                                </div>
                                <div class="">
                                    Questions: {{questionCount}}
                                    Answers: {{answerCount}}
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>

        tinymce.init({
            selector: "#user-answer-content",
            menubar: false,
            //  plugins: "code",
            toolbar: "undo redo | bold italic | numlist bullist | indent | code"

        });
    </script>
    <script src="~/Scripts/app/voter.js"></script>

    @if (false/*Globals.UseSignalR*/)
    {
        
        <script src="~/Scripts/lib/jquery.signalR-1.0.1.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="~/Scripts/lib/handlebars.js"></script>
        <script src="~/Scripts/app/details-signalR.js"></script>
       
    }
    else
    {
        <script src="~/Scripts/app/details.js"></script>
    }
}