﻿@model IPagedList<QA.Model.Question>

@{
    ViewBag.Title = "Newest questions - Q and A";
}

<form method="get" action="@Url.Action("Index")" data-ajax-enabled="false" data-target="#questions">

    <input type="search" name="q" />
    <input type="submit" value="Search By Title and Content" />
</form>

<div id="mainbar">
    <div class="subheder" style="border:1px solid green;">
        <div id="tabs">
@*            <a href="@(Url.Action("Index","Questions") + "?" + Request.QueryString.ToString() + "sort=newest")">newest 2</a> 
            <a href="@(Url.Action("Index","Questions") + "?" + Request.QueryString.ToString() + "sort=votes")">votes 2</a> 
            <a href="@(Url.Action("Index","Questions") + "?" + Request.QueryString.ToString() + "sort=views")">views 2</a> *@
            @Html.ActionLink("newest", "Index", "Questions", new
                            {
                                sort = "newest",
                                page = Request.QueryString["page"] ?? "1",
                                pagesize = Request.QueryString["pagesize"] ?? "5",
                                q = Request.QueryString["q"]
                            }, null)
            @Html.ActionLink("votes", "Index", "Questions", new
                            {
                                sort = "votes",
                                page = Request.QueryString["page"] ?? "1",
                                pagesize = Request.QueryString["pagesize"] ?? "5",
                                q = Request.QueryString["q"]
                            }, null)
            @Html.ActionLink("views", "Index", "Questions", new
                            {
                                sort = "views",
                                page = Request.QueryString["page"] ?? "1",
                                pagesize = Request.QueryString["pagesize"] ?? "5",
                                q = Request.QueryString["q"]
                            }, null)
        </div>
    </div>
    <div id="questions">
        @foreach (var item in Model)
        {
            <div class="question-summary">
                <div class="statscontainer">
                    <div class="stats">
                        <div class="vote">
                            <div class="votes">
                                <div class="vote-count-post">
                                    <strong>@item.VoteCount</strong>
                                </div>
                                <div>votes</div>
                            </div>
                        </div>
                        <div class="status @Html.GetClassForQuestionStatus(item.Status, item.Answers.Count())">
                            <strong>@item.Answers.Count()</strong> answers
                        </div>
                    </div>

                    <div class="views">@item.NumberOfViews views</div>
                </div>
                <div class="summary">
                    <h3>@Html.ActionLink(item.Title, "Details", "Questions", new { id = item.ID, slug = item.Title.ToSeoUrl() }, null)</h3>
                    <div class="excerpt">@Html.Truncate(item.Content.RemoveHtmlTags(), 200)</div>
                    <div class="tags">@Html.Partial("partial_Tags", item.QuestionsTags.Select(i => i.Tag))</div>
                    <div class="fr">
                        <div class="user-info">
                            <div>asked @item.DatePosted.ToNicelyFormattedDateTime()</div>
                            @Html.Partial("partial_UserDetails", item.User)
                        </div>
                    </div>
                    @if (item.User.Username == HttpContext.Current.User.Identity.Name)
                    {
                     
                    <div>@Html.ActionLink("Edit", "Edit", "Questions", new { id = item.ID }, null)</div>   
                    }
                    else
                    {
                    
                    <div> No Edit</div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="cbt"></div>
    <div class="pager fl" data-target="#questions">
        @Html.PagedListPager(Model,
                            page => Url.Action("Index", new
                            {
                                page = page,
                                sort = Request.QueryString["sort"],
                                pagesize = Request.QueryString["pagesize"] ?? "5",
                                q = Request.QueryString["q"]
                            }),
                            PagedListRenderOptions.OnlyShowFivePagesAtATime)

    </div>
    <div class="page-sizer fr">
        @PageSizer("Index", "Questions", Model.PageNumber, Request.QueryString["pagesize"], Request.QueryString["q"], Request.QueryString["sort"], new List<int> { 5, 6, 7 })


        @*  @Html.ActionLink("2", "Index", "Question", new { page = Model.PageNumber, pagesize = 2, q = Request.QueryString["q"] }, 
        new {@class= "page-numbers" + ((Request.QueryString["pagesize"] == "2" || Request.QueryString["pagesize"] == null) ? " current" : "" )})
        
        @Html.ActionLink("3", "Index", "Question", new { page = Model.PageNumber, pagesize = 3, q = Request.QueryString["q"] }, 
        new {@class= "page-numbers" + ((Request.QueryString["pagesize"] == "3") ? " current" : "" )})
        
        @Html.ActionLink("4", "Index", "Question", new { page = Model.PageNumber, pagesize = 4, q = Request.QueryString["q"] }, 
        new {@class= "page-numbers" + ((Request.QueryString["pagesize"] == "4") ? " current" : "" )})*@
    </div>
</div>


@helper PageSizer(string action, string controller, int pageNumber, string queryPageSize, string q, string sort, List<int> sizeNumbers)
{
    
    string firstNumber = sizeNumbers.First().ToString();
     
    @Html.ActionLink(firstNumber, action, controller,
        new { page = pageNumber, pagesize = firstNumber, sort = sort, q = q },
        new { @class = "page-numbers" + ((queryPageSize == firstNumber || queryPageSize == null) ? " current" : "") })

    for (int i = 1; i < sizeNumbers.Count; i++)
    {
    @Html.ActionLink(sizeNumbers[i].ToString(), action, controller,
        new { page = pageNumber, pagesize = sizeNumbers[i], sort = sort, q = q },
        new { @class = "page-numbers" + ((queryPageSize == sizeNumbers[i].ToString()) ? " current" : "") })
 
    }
}