﻿
table, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
background-color: transparent;
}

a {
color: #0077cc;
text-decoration: none;
cursor: pointer;
}

table {
border-collapse: collapse;
border-spacing: 0;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}


#mainbar {
width: 728px;
float: left;
}

#questions {
clear: both;
width: 728px;
float: left;
margin-top: -10px;
}

.question-summary {
border-bottom: 1px solid #1b1515;
overflow: hidden;
padding: 11px 0px;
width: 730px;
float: left;
}

.statscontainer {
width: 85px;
float: left;
margin-right: 8px;
}

.stats {
margin: 0 0 0 7px;
width: 58px;
padding: 4px 7px 6px 7px;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.vote {
text-align: center;
}
.votes {
padding: 0 0 7px 0;
text-align: center;
color: #777;
}
.vote span {
display: block;
color: #808185;
font-weight: normal;
}



.status {
margin-top: -3px;
padding: 4px 0 4px;
text-align: center;
}

.status strong {
font-weight: normal;
font-size: 20px;
}

.answered-accepted .mini-counts, .answered .mini-counts, .stats .answered-accepted strong {
font-family: Arial,sans-serif !important;
font-size: 20px;
line-height: 19px;
padding: 0 0 4px;
text-shadow: 1px 1px 0 #f4ffed;
}

.unanswered {
color: #222;
}

.answered {
color: #478875;
}

.answered-accepted {
color: #478875;
border-top: 1px solid #e3e3e3;
border-bottom: 1px solid #fff;
background-color: #d1eb9d;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3f5ab), color-stop(14%, #e3f5ab), color-stop(100%, #bee08e));
}

.stats .answered-accepted {
float: left;
margin: 0 3px 0 0;
padding: 6px 5px;
width: 48px;
height: 38px;
text-shadow: 1px 1px 0 #ddf3cf;
}


.views {
padding-top: 4px;
text-align: center;
color: #777;
}


.summary {
float: left;
width: 635px;
}

.summary h3{
margin: 0px 0px 5px 0px;
}


.question-hyperlink {
font-weight: bold;
}

.excerpt {
line-height: 1.2;
padding: 0;
margin: 0;
padding-bottom: 5px;
}

.tags {
line-height: 18px;
float: left;
}

.fl {
float: left;
}

.fr {
float: right;
}

.cbt {
clear: both;
}


/*.pager {
    text-align: center;
}*/

.page-numbers {
color: #808185;
display: block;
float: left;
text-decoration: none;
font-family: Arial,Helvetica,sans-serif;
border: 1px solid #aaa;
font-size: 12px;
margin-right: 5px;
padding: 3px 7px;
}

.page-numbers.current {
background-color: #000;
border: 1px solid #000;
color: #fff;
}


.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
display: block;
margin: 0 auto;
text-indent: -999em;
width: 40px;
height: 43px;
background-position: -2px -223px;
padding: 0px;
}

.envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3 {
background-image: url('/images/sprites.png');
background-repeat: no-repeat;
overflow: hidden;
}


.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
cursor: pointer;
}

.vote-down-off {
background-position: -2px -268px;
}

.vote-up-on
{
    background-position:-2px -178px;
}
.vote-down-on
{
    background-position:-2px -313px;
}

.vote span {
display: block;
color: #777;
}

.vote-count-post {
display: block;
color: #444!important;
font-family: Arial,sans-serif !important;
font-size: 22px!important;
line-height: 20px;
padding: 2px 0 9px 2px;
text-shadow: 1px 1px 0 #FFFFFF;
}

.vote-count-post strong {
font-weight: normal;
}

.star-off {
width: 35px;
height: 40px;
background-position: -4px -86px;
}




table {
border-collapse: collapse;
border-spacing: 0;
}

.votecell {
vertical-align: top;
width: 56px;
}

.answer {
padding-bottom: 20px;
padding-top: 20px;
width: 738px;
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
}

.answer table td {
vertical-align: top;
}


.post-text {
width: 660px;
margin-bottom: 5px;
margin-right: 5px;
font-size: 14px;
line-height: 17px;
}