﻿@model IEnumerable<QA.Model.Tag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@User.IsInRole("Admin")

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.ID , slug = item.Name.ToSeoUrl() })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })    
            }
        </td>
    </tr>
}

</table>
